

/****************************** ADMIN *****************************************/

.admin-body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.admin-text{
    display: flex;
    justify-content: center;
    color: #0077C0;;

}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.option-container {

    padding: 10px;
}

.option-outline {
    width: 250px;
    height: 375px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #0077C0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #005999;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 15px;
    }

    .option-container {
        margin-bottom: 20px;
    }
}


.design-dropdown {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.box1 {
    width: 80%; /* Adjust width as needed */
    margin: 20px auto; /* Center the box horizontally */
    padding: 20px; /* Add padding for spacing */
    background-color: #ffffff; /* Set background color */
    border: 1px solid #dddddd; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

/* Style the table inside the box */
.materiale-table {
    width: 100%; /* Make table fill the box */
    border-collapse: collapse; /* Collapse table borders */
}

.materiale-table th, .materiale-table td {
    padding: 10px; /* Add padding to table cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #dddddd; /* Add bottom border to table rows */
}

.materiale-table th {
    background-color: #f2f2f2; /* Set background color for table header */
    font-weight: bold; /* Make header text bold */
}

.banner{
    text-decoration: none;
    color: white;
}

.button{
background-color: #0077C0;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #005999;
}

.admin-button{
    display: flex;
    justify-content: center;
margin-top: 5px;
    padding-left: 10px;
}

.update-field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.info-text{
    display: flex;
    justify-content: center;
    color: #0077C0;
    margin-top: 10px;
}

.status-text{
    display: flex;
    justify-content: center;
    color: #0077C0;
    margin-top: 10px;
}

.main-content-order {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

