

/****************************** ADMIN *****************************************/

.admin-body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C9C9C9;

}
header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: #025588;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 100px;
}
.banner {

    display: flex;
    align-items: center;

}

.fog-logo {
    display: flex;
    width: 75px;
    height: auto;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 0px;
}
h1 {
    margin: 0;
    font-size: 2rem;
}

.admin-text{
    display: flex;
    color: #C9C9C9;
    font-size: 1.5rem;
    margin: 0;

}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.option-container {

    padding: 10px;
}

.option-outline {
    width: 150px;
    height: 75px;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.option-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #0077C0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #005999;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 15px;
    }

    .option-container {
        margin-bottom: 20px;
    }
}


.design-dropdown {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.box1 {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.materiale-table {
    width: 100%;
    border-collapse: collapse;
}

.materiale-table th, .materiale-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.materiale-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.banner{
    text-decoration: none;
    color: white;
}

.button{
background-color: #0077C0;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #005999;
}

.admin-button{
    display: flex;
    justify-content: center;
margin-top: 5px;
    padding-left: 10px;
}

.update-field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.info-text{
    display: flex;
    justify-content: center;
    color: #0077C0;
    margin-top: 10px;
}

.status-text{
    display: flex;
    justify-content: center;
    color: #0077C0;
    margin-top: 10px;
}

.main-content-order {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.tables .scrollable {
    height: 300px;
    overflow-y: scroll;
}