.header {
    background-color: #D9D9D9;
    height: 88px;
    width: 100%;
    margin-top: 40px;
}
.fog-logo {
    width: 75px;
    height: auto;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 0px;
}
.header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.carporte-link {
    position: absolute;
    left: 17%;
    transform: translateX(-50%);
    color: #154985;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.orders-img {
    width: 50px;
}
.header-login-image {
    width: 50px;
}
.header-login-button {
    margin-left: 1200px;
}
.orders-button {
    margin-right: 20px;
}
.header-bottom-orders-text {
    width: 100px;
    font-size: 12px;
    position: absolute;
    text-decoration: none;
    color: #154985;
    font-weight: bold;
}
.header-login-button-text {
    font-size: 12px;
    text-decoration: none;
    color: #154985;
    position: absolute;
    font-weight: bold;
}
.header-design-carport-link {
    margin-left: 380px;
    width: 200px;
    position: absolute;
    color: #154985;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    left: 6%;
}



.design-dropdown {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.design-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.design-dropdown-content select {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.design-dropdown-content button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #314F9D;
    color: white;
    cursor: pointer;
}

.design-dropdown-content button:hover {
    background-color: #154985;
}


@media only screen and (max-width: 600px) {
    .design-dropdown-content select {
        width: 80%;
    }

    .design-dropdown-content button {
        width: 80%;
    }
}

.button-submit {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #314F9D;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.button-submit:hover {
    background-color: #154985;
}
