<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Carports</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>

<body CLASS="admin-body">

<header >
    <a href="admin.html" class="banner" th:href="@{admin}">
        <img class="fog-logo" src="/public/images/Fog_Logo.jpeg" th:src="@{/images/Fog_Logo.jpeg}" alt="Fog Logo">
        <h2 class="admin-text">Admin page </h2>
    </a>
</header>

<div class="main-content">

    <form method="post">
        <div class="box1">
            <div class="scrollable">
                <table class="materiale-table">

                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>pris</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr th:each="materialer: ${materialeList}">
                        <td th:text="${materialer.materialeId}">id</td>
                        <td th:text="${materialer.type}">type</td>
                        <td th:text="${materialer.price}">pris</td>
                        <td>
                            <div class="admin-button">
                                <button class="button" type="submit" name="materialeId"
                                        th:value="${materialer.materialeId}" formaction="/redigermateriale">Rediger
                                </button>
                            </div>
                            <div class="admin-button">
                                <button class="button" type="submit" name="materialeId"
                                        th:value="${materialer.materialeId}" formaction="/deletemateriale">Slet
                                </button>
                            </div>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="button-add">
                <button type="submit" class="button" name="addmaterialebutton" formaction="/adminaddmateriale">Tilføj
                </button>
            </div>
        </div>
    </form>

</div>

</body>
</html>
