<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Carports</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body CLASS="admin-body">

<header style="background-color: #0077C0; color: #fff; text-align: center; padding: 20px;" class="admin-header">
    <h1>FOG Carports</h1>
</header>

<div class="main-content">
    <div class="tables">
        <h1>Active Orders</h1>
        <form method="post">
            <table class="order-table">

                <thead>
                <tr>
                    <th>User</th>
                    <th>Order id</th>
                    <th>Price</th>
                    <th>Betalt</th>
                    <th>Afsendt</th>
                    <th>Afvist</th>
                    <th>Modtaget</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orderList}">
                    <td th:text="${order.userId}">User</td>
                    <td th:text="${order.orderId}">Order id</td>
                    <td th:text="${order.price}">Price</td>
                    <td th:text="${order.status}">Betalt</td>
                    <td th:text="${order.status}">Afsendt</td>
                    <td th:text="${order.status}">Afvist</td>
                    <td th:text="${order.status}">Modtaget</td>
                    <td>
                        <div class="button">
                            <button type="submit" name="orderId" th:value="${order.orderId}"
                                    formaction="/deleteorder">
                                Delete
                            </button>


                        </div>
                    </td>
                </tr>

                </tbody>

            </table>
        </form>
    </div>
</div>

</body>
</html>
