<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Carports</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body CLASS="admin-body">

<header style="background-color: #0077C0; color: #fff; text-align: center; padding: 20px;" class="admin-header">
    <h1>FOG Carports</h1>
</header>

<div class="main-content">

    <form method="post">
        <div class="box1">
        <table class="materiale-table">

            <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>pris</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="materialer: ${materialeList}">
                <td th:text="${materialer.materialeId}">id</td>
                <td th:text="${materialer.type}">type</td>
                <td th:text="${materialer.price}">pris</td>
                <td>
                    <div class="button">
                        <button type="submit" name="materialeId" th:value="${materialer.materialeId}" formaction="/redigermateriale">Rediger</button>
                    </div>
                </td>
            </tr>

            </tbody>

        </table>
        </div>
    </form>

</div>

</body>
</html>
