<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="page">
    <a href="index.html" class="banner" th:href="@{/}"><h2>FOG</h2></a>
</div>


<h1>Checkout</h1>

<h2>Tak for din bestilling</h2>

<h3>Shop videre:</h3>


</body>
</html>
