<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/checkout.css" th:href="@{/css/checkout.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <header>
        <a href="index.html" th:href="@{index}">
            <img class="fog-logo" th:src="@{/images/Fog_Logo.jpeg}" alt="Fog Logo">
        </a>
        <a class="carporte-link" href="https://www.johannesfog.dk/have-fritid/carporte">CARPORTE</a>
        <a class="header-design-carport-link" href="design.html" th:href="@{design}">DESIGN CARPORT</a>
        <a href="login.html" class="header-login-button" th:href="@{login}">
            <div class="header-login-button-content">
                <img class="header-login-image" th:src="@{/images/key_2_line.png}" alt="header login image">
                <div class="header-login-button-text">LOGIN</div>
            </div>
        </a>
        <a href="orders.html" class="orders-button" th:href="@{orders}">
            <div class="order-button-content">
                <img class="orders-img" th:src="@{/images/clipboard_line.png}" alt="orders image">
                <div class="header-bottom-orders-text">MINE ORDRE</div>
            </div>
        </a>
    </header>
</div>
<div class="content-checkout">


<h2>Tak for din bestilling</h2>

<h3>Her er din stykliste!</h3>

<table>
    <tr>
        <th>Type</th>
        <th>Længde</th>
        <th>Antal</th>
        <th>Beskrivelse</th>

    </tr>
    <tr th:each="orderLine : ${orderLines}">
        <td th:hidden="true" th:text="${orderLine.getId()}"></td>
        <td th:text="${orderLine.getType()}"></td>
        <td th:text="${orderLine.getLængde()}"></td>
        <td th:text="${orderLine.getQuantity()}"></td>
        <td th:text="${orderLine.getDescription()}"></td>
    </tr>



</table>
    <div class="total-price">
        <h2>Total Price:</h2>
        <p th:text="${calculator}"></p>
    </div>
</div>
</body>
</html>
