<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Design</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/design.css" th:href="@{/css/design.css}" rel="stylesheet"/>
</head>
<body>

<div class="design-dropdown">
    <form class="design-dropdown-content" method="get">
        Længde(cm):
        <select name="length" id="length">
            <option value="" selected="selected">Vælg længde</option>
            <option value="480">480</option>
            <option value="540">540</option>
            <option value="600">600</option>
            <option value="720">720</option>
            <option value="780">780</option>
            <option value="810">810</option>
            <option value="870">870</option>
            <option value="910">910</option>
            <option value="990">990</option>
        </select>
        <br><br>
        Bredde(cm):
        <select name="width" id="width">
            <option value="" selected="selected">Vælg bredde</option>
            <option value="300">300</option>
            <option value="360">360</option>
            <option value="390">390</option>
            <option value="600">600</option>
        </select>
        <br><br>
        <button type="submit" value="Videre til valg af materialer" formaction="finalDesign"> Videre til valg af materialer</button>
        <button type="submit" value="Plantegning" formaction="plantegning">Plantegning</button>
    </form>
</div>

</body>
</html>