<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Design</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/design.css" th:href="@{/css/design.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <header>

        <a href="index.html" th:href="@{index}">
            <img class="fog-logo" th:src="@{/images/Fog_Logo.jpeg}" alt="Fog Logo">
        </a>
        <a class="carporte-link" href="https://www.johannesfog.dk/have-fritid/carporte">CARPORTE</a>

        <a class="header-design-carport-link" href="design.html" th:href="@{design}">DESIGN CARPORT</a>

        <a href="login.html" class="header-login-button" th:href="@{login}">
            <div class="header-login-button-content">
                <img class="header-login-image" th:src="@{/images/key_2_line.png}" alt="header login image">
                <div class="header-login-button-text">LOGIN</div>
            </div>
        </a>

        <a href="orders.html" class="orders-button" th:href="@{orders}">
            <div class="order-button-content">
                <img class="orders-img" th:src="@{/images/clipboard_line.png}" alt="orders image">
                <div class="header-bottom-orders-text">MINE ORDRE</div>
            </div>
        </a>

    </header>
</div>

<div class="design-dropdown">
    <form class="design-dropdown-content" method="post">
        Længde(cm):




     <select name="length" id="length">
         <option value="" selected="selected">Vælg længde</option>
         <option value="480">480</option>
         <option value="540">540</option>
         <option value="600">600</option>
         <option value="720">720</option>
         <option value="780">780</option>
         <option value="810">810</option>
         <option value="870">870</option>
     </select>
     <br><br>
     Bredde(cm):
     <select name="width" id="width">
         <option value="" selected="selected">Vælg bredde</option>
         <option value="450">450</option>
         <option value="500">500</option>
         <option value="550">550</option>
         <option value="600">600</option>
     </select>

     <br><br>
        <a href="finalDesign.html" th:href="finalDesign">
            <input type="hidden" name="length" th:value="${session.length}" />
            <input type="hidden" name="width" th:value="${session.width}" />

     <button type="submit" value="Videre til valg af materialer" formaction="finalDesign"> Videre til valg af materialer</button>
        </a>
 </form>
</div>

</body>
</html>