<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>finalDesign</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Final design</h1>
<div>
<input type="text" name="length" th:value="${session.length}" />
<input type="text" name="width" th:value="${session.width}"/>
</div>
<h2>MATERIALER</h2>

<form class="materialer" method="post">
  <label for="materiale">Vælg materiale</label><br>
  <select name="materiale" id="materiale">
      <option value="træ">Træ</option>
      <option value="metal">Metal</option>
  </select>
  <br>
</form>

    <label for="tag">vælg tag</label><br>
    <select name="tag" id="tag">
      <option value="sten">Sten</option>
      <option value="KÆMPE STEN">KÆMPE STEN</option>
    </select>
    <br>

  <label for="redskabsrum">vælg redskabsrum</label><br>
  <select name="redskabsrum" id="redskabsrum">
    <option value="xD">xD</option>
  </select>
  <br>

  <h2>KONTAKTOPLYSNINGER</h2>
  
<form class="kontakt-oplysninger" method="post" action="/createOrderAndInsertUserDetails" th:if="${session.currentUser !=null}">

  <input type="text" name="fornavn" placeholder="Fornavn"/><br>
    <input type="text" name="efternavn" placeholder="Efternavn"/><br>
  <input type="text" name="adresse" placeholder="Adresse (vej+nummer)"/><br>
  <input type="number" name="telefon" placeholder="Telefon nummer"/><br>
    <input type="hidden" name="length" th:value="${session.length}" />
    <input type="hidden" name="width" th:value="${session.width}" />

<!--
<form class="videre-knap" method="post" action="/createOrder" th:if="${session.currentUser !=null}">
<div>
    <input type="hidden" name="length" th:value="${session.length}" />
    <input type="hidden" name="width" th:value="${session.width}" />
    -->
    <button type="submit">Videre</button>
</div>
</form>
<form class="create-user-knap" method="get" th:action="@{createUser}" th:unless="${session.currentUser != null}">
    <div>
        <button type="submit">Opret bruger</button>
    </div>
</form>

<form class="login-knap" method="get" th:action="@{login}" th:unless="${session.currentUser != null}">
<div>
    <input type="hidden" name="length" th:value="${session.length}" />
    <input type="hidden" name="width" th:value="${session.width}" />
    <button type="submit">Login</button>
</div>
</form>

<a th:href="@{/showOrder}" href="showOrder.html">Show order</a>

</body>
</html>
