<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Forside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<body>

<div class="header">
    <header>

        <a href="index.html" th:href="@{index}">
            <img class="fog-logo" src="../public/images/Fog_Logo.jpeg" alt="Fog Logo">
        </a>
        <a class="carporte-link" href="https://www.johannesfog.dk/have-fritid/carporte">CARPORTE</a>

        <a class="header-design-carport-link" href="design.html" th:href="@{design}">DESIGN CARPORT</a>

        <a href="login.html" class="header-login-button" th:href="@{login}">
            <div class="header-login-button-content">
                <img class="header-login-image" src="../public/images/key_2_line.png" alt="header login image">
                <div class="header-login-button-text">LOGIN</div>
            </div>
        </a>

        <a href="orders.html" class="orders-button" th:href="@{orders}">
            <div class="order-button-content">
                <img class="orders-img" src="../public/images/clipboard_line.png" alt="orders image">
                <div class="header-bottom-orders-text">MINE ORDRE</div>
            </div>
        </a>

    </header>
</div>

<div class="content">
    <div class="box box-left">
        <img class="car-left-img" src="../public/images/car1.jpg" alt="Car Image">
        <div class="blue-half">
            <div class="box-left-text">SE ALLE VORES CARPORTE</div>
            <div class="button-left">
                <a href="https://www.johannesfog.dk/have-fritid/carporte">
                    <button type="submit" class="button-left">SE VORES UDVALG</button>
                </a>
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <div class="box box-right">
        <img class="car-right-img" src="../public/images/car2.jpg" alt="Car Image">
        <div class="blue-half">
            <div class="box-right-text">DESIGN DIN EGEN CARPORT</div>
            <div class="button-right">
                <a href="design.html" th:href="@{design}" >
                    <button type="submit">FÅ ET TILBUD</button>
                </a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
